:root {
    --primary-color: #1a1a1a; /* Dark Gray */
    --secondary-color: #0051ff; /* Blue */
    --background-color: #ffffff; /* White */
    --text-color: #333333; /* Dark Text */
    --accent-color: #0051ff; /* Blue */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
    padding: 40px 20px;
}

main h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.25em;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    main {
        padding-top: 100px;
    }

    main h1 {
        font-size: 2em;
        margin-top: -2rem;
    }

    main p {
        font-size: 1.1em;
    }
}